<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css">
    <link rel="stylesheet" href="./public/custom.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="./public/favicon.ico">
    <title>IMDB</title>
</head>
<body>
  <header>
    <h1></h1>
  </header>

  <main>
    <h1><%= message %> :(</h1>
    <a>All databases nodes are experiencing issues.</a>
  </main>


</body>
</html>