<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css">
    <link rel="stylesheet" href="./public/custom.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="./public/favicon.ico">
    <title>IMDB</title>
</head>
<body>
  <header>
    <h1>Form</h1>
  </header>

  <main>
    <div>
      <form action="/add" method="POST">

        <label>ID</label>
        <input type="text" id="id_text" name="id_text">
        <label>Name</label>
        <input type="text" id="name_text" name="name_text">
        <label>Year</label>
        <input type="text" id=year_text" name=year_text">
        <label>Rank</label>
        <input type="text" id=rank_text" name=rank_text">
        <button type="submit" class="button submit_movie_button">Submit Movie</button>
      </form>
    </div>

  </main>
</body>
</html>